<form class=" border p-3 rounded-3" [formGroup]="reactiveForm" (ngSubmit)="submit()">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Register</span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstName" formControlName="firstName">
      <div class="form-text text-danger" *ngIf="(FirstName?.touched || FirstName?.dirty)">
        <span *ngIf="FirstName.errors?.['required']">First Name is Required</span>
        <span *ngIf="FirstName.errors?.['minlength']">First Name is too Short</span>
        <span *ngIf="FirstName.errors?.['pattern']">First Name should start with Alphabet</span>
        <span *ngIf="FirstName.errors?.['no_space_allowed']">No space Allowed</span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastName" formControlName="lastName">
      <div class="form-text text-danger" *ngIf="(LastName?.touched || LastName?.dirty)">
        <span *ngIf="LastName.errors?.['required']">Last Name is Required</span>
        <span *ngIf="LastName.errors?.['minlength']">Last Name is too Short</span>
        <span *ngIf="LastName.errors?.['pattern']">Last Name should start with Alphabet</span>
        <span *ngIf="LastName.errors?.['no_space_allowed']">No space Allowed</span>
      </div>
    </div>
  </div>
  <div class="row" formGroupName="address">
    <div class="col mb-3">
      <label class="form-check-inline">Address Type</label>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="permanent" value="permanent" formControlName="addressType"
          (change)="triggerExpiryValidator()">
        <label for="permanent" class="form-check-label">Permanent</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="temporary" value="temporary" formControlName="addressType"
          (change)="triggerExpiryValidator()">
        <label for="temporary" class="form-check-label">temporary</label>
      </div>
      <label class="form-check-inline" for="inlineRadio2" *ngIf="AddressType?.value=='temporary'">Expiry Date</label>
      <div class="form-check form-check-inline">
        <input type="date" class="form-control" id="dateInput1" formControlName="expiryDate"
          *ngIf="AddressType?.value=='temporary'">
      </div>
      <div class="form-text text-danger">
        <span *ngIf="AddressType.errors?.['required']"> Pick One Option</span>
        <span
          *ngIf="ExpiryDate.errors?.['date_error'] && ExpiryDate?.touched">{{ExpiryDate.errors?.['date_error']}}</span>
      </div>

    </div>
  </div>

  <div class="row" formGroupName="address">
    <div class="col mb-3">
      <label for="address" class="form-label">Street Address</label>
      <input type="text" name="streetAddress" id="address" class="form-control" formControlName="streetAddress">
      <div class="form-text text-danger" *ngIf="(StreetAddress?.touched || StreetAddress?.dirty)">
        <span *ngIf="StreetAddress.errors?.['required']">Address is Required</span>
      </div>
    </div>
  </div>
  <div class="row" formGroupName="address">
    <div class="col mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" name="city" id="city" class="form-control" formControlName="city">
      <div class="form-text text-danger" *ngIf="(City?.touched || City?.dirty)">
        <span *ngIf="City.errors?.['required']">City is Required</span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="state" class="form-label">State</label>
      <select id="state" class="form-control" formControlName="state">
        <option selected [ngValue]="">Choose...</option>
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select>
      <div class="form-text text-danger" *ngIf="(State?.touched || State?.dirty)">
        <span *ngIf="State.errors?.['required']">State is Required</span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="zipcode" class="form-label">Zipcode</label>
      <input type="text" name="zipcode" id="zipcode" class="form-control" formControlName="zipcode">
      <div class="form-text text-danger" *ngIf="(Zipcode?.touched || Zipcode?.dirty)">
        <span *ngIf="Zipcode.errors?.['required']">Zipcode is Required</span>
        <span *ngIf="Zipcode.errors?.['pattern']">Value should be 5 digits</span>
      </div>
    </div>
  </div>
  <div class="col" formArrayName="skills">
    <label for="skill">Skills</label>
    <div class="row gx-5" *ngFor="let skill of Skills.controls;index as i">
      <div class="col">
        <input type="text" name="skill" id="skill" class="form-control mb-1" formControlName="{{i}}">
        <div class="form-text text-danger" *ngIf="(Skills.controls[i]?.touched || Skills.controls[i]?.dirty)">
          <span *ngIf="Skills.controls[i].errors?.['required']">Skills is Required</span>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSkill(i)" *ngIf="Skills.length>1">Remove Skills</button>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-primary mt-1 ms-1" [disabled]="Skills.invalid" (click)="addSkill()">Add Skills</button>
  </div>


  <div class="row">
    <div class="col mb-3">
      <label for="mobile" class="form-label">Mobile Number</label>
      <input type="text" name="mobile" id="mobile" class="form-control" formControlName="mobile">
      <div class="form-text text-danger" *ngIf="(Mobile?.touched || Mobile?.dirty)">
        <span *ngIf="Mobile.errors?.['required']">Mobile is Required</span>
        <span *ngIf="Mobile.errors?.['pattern']">Inaild Mobile Number</span>
      </div>
    </div>
    <div class="col ps-3">
      <div class="m-1">Gender</div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="male" value="male" formControlName="gender">
        <label for="male" class="form-check-label">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="female" value="female" formControlName="gender">
        <label for="female" class="form-check-label">Female</label>
      </div>
      <div class="form-text text-danger" *ngIf="Gender.errors?.['required']">
        Select Gender
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" name="pwd" id="pwd" formControlName="pwd">
      <div class="form-text text-danger" *ngIf="(Pwd?.touched || Pwd?.dirty)">
        <span *ngIf="Pwd.errors?.['required']">Please Enter Password</span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="cpwd" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="cpwd" id="cpwd" formControlName="cpwd">
      <div class="form-text text-danger" *ngIf="(Cpwd?.touched || Cpwd?.dirty)">
        <span *ngIf="Cpwd.errors?.['required']">Please Enter Confirm Password</span>
        <span *ngIf="Cpwd.errors?.['Password_Not_Matched']">Confirm Password Does Not Matched</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="reactiveForm.invalid">Submit</button>
      </div>
    </div>
  </div>
</form>
